.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  color: black;
  border-radius: 50%;
}

.fa:link {
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
